@import 'vars';

/********************************************
*  Defaults                                    *
********************************************/

/**
 * defaults are set inside the selector to prevent post-css
 * from trying to resolve these variables.
 */
.grid {
  --columns: nth($breakpoints, 1);
  --margin: 12;
  --padding: 16;
}
