@import 'functions';
/// settings
/// @author Gregor Adams <greg@pixelass.com>

/// List of breakpoints. Defines how many columns are shown at each breakpoint
/// @name breakpoints
/// @type List
$breakpoints: (4, 8, 12);

/// List of names. These names will be used as the inline CSS variables
/// @name names
/// @type List
$names: (--viewport-small, --viewport-medium, --viewport-large);

/// randomly generated variable
/// @type List
$colspan: hashVar(10, 'colspan');

/// custom prop for column margin
/// @name margin
/// @type Keyword
$margin: --column-margin;

/// custom prop for column padding
/// @name padding
/// @type Keyword
$padding: --column-padding;

/// custom prop for column count
/// @name columns
/// @type Keyword
$column-count: --column-count;

/// selector for grids
/// @name grid-selector
/// @type String
$grid-selector: '.grid';

/// selector for rows
/// @name row-selector
/// @type String
$row-selector: '.row';

/// selector for columns
/// @name column-selector
/// @type String
$column-selector: '.column';