/// settings
/// @author Gregor Adams <greg@pixelass.com>

/// randomly generated variable.
/// Cannot be modified. Internal use only
/// @name colspan
/// @type List
$colspan: uniqueVar('colspan');


/// List of breakpoints. Defines how many columns are shown at each breakpoint
/// @name breakpoints
/// @type List
$breakpoints: (4, 8, 12) !default;

/// custom prop for column margin
/// @name default-margin
/// @type Number
$default-margin: 6 !default;

/// Grid padding
/// @name efault-padding
/// @type Number
$default-padding: 8 !default;

/// base size of one column
/// @name base-size
/// @type Number
$base-size: 80!default;

/// List of names to be used as the inline CSS variables
/// @name names
/// @type List
$names: (--viewport-small, --viewport-medium, --viewport-large) !default;

/// custom prop for column margin
/// @name margin
/// @type Keyword
$margin: --column-margin !default;

/// custom prop for column padding
/// @name padding
/// @type Keyword
$padding: --column-padding !default;

/// custom prop for column count
/// @name column-count
/// @type Keyword
$column-count: --column-count !default;

/// selector for grids
/// @name grid-selector
/// @type String
$grid-selector: '.grid' !default;

/// selector for rows
/// @name row-selector
/// @type String
$row-selector: '.row' !default;

/// selector for columns
/// @name column-selector
/// @type String
$column-selector: '.column' !default;
